.root {
    -fx-background-color: #F2F2F2;
    -fx-border-color: #ba0c2f;
    -fx-border-width: 5;
}

.button {
    -fx-background-color: #ba0c2f;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 15;
}

.label {
    -fx-text-fill: #54585A;
}

.combo-box-base {
    -fx-background: #ba0c2f;
    -fx-background-color: #ba0c2f;
}

.combo-box .list-view .list-cell {
    -fx-text-fill: #ffffff;
    -fx-background-color: #c43350;
}

.combo-box .list-cell {
    -fx-text-fill: #ffffff
}

.check-box {
    -fx-text-fill: #ba0c2f;
}

.slider .track{
    -fx-background-color: #ba0c2f;
}

.slider .thumb{
    -fx-background-color: #000000;
}

.dialog-pane {
    -fx-width: 360;
    -fx-height: 180;
    -fx-border-color: #ba0c2f;
    -fx-border-width: 5;
    -fx-border-radius: 15;
}

.dialog-pane .label{
    -fx-font-size: 20;
    -fx-alignment: center;
}

/*change color of slider*/